{% extends "site/base.html" %} {% block content %} {% load static %}
<a href="#" class="bigrek"></a>
<div class="container wrapper">
  <div class="longrek"></div>
  <div class="clearfix"></div>

  <ol class="breadcrumb">
    <li><a href="#">Главная</a></li>
    <li class="active">Политика</li>
  </ol>
  <div class="row">
    <div class="col-md-8 col-xs-12">
      <div class="cat_title">
        Bazada "{{ kalit }}" boyicha {{ count }} malumot topildi
      </div>
      <div class="search_box">
        <form action="#">
          <div class="input-group">
            <input type="text" name="search" placeholder="Поиск" />
            <button class="btn submit"><i class="fa fa-search"></i></button>
          </div>
        </form>
      </div>
      <div class="news_box">
        {% for i in news %}
        <div class="cat_news">
          <div class="cat_img"><img src="{{ i.rasm.url }}" alt="" /></div>
          <a href="{% url 'view' pk=i.id %}">{{ i.title }}</a>
          <p>{{ i.short_desc }}</p>
          <span class="date">{{ i.date|date:'d-m-Y' }}</span>
          <span class="news_type"
            ><i class="fa fa-pencil"></i> {{ i.category_id.name }}</span
          >
          <span class="news_type"><i class="fa fa-eye"></i> {{ i.view }}</span>
        </div>
        {% endfor %}

        <nav aria-label="Page navigation">
          <ul class="pagination">
            {% if page_obj.has_previous %}
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {% endif %} {% for i in page_obj.paginator.page_range %}

            <li ><a href="?search={{ kalit }}&page={{ i }}">{{ i }}</a></li>

            {% endfor %} {% if page_obj.has_previous %}
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
    <div class="col-md-4 col-xs-12"></div>
  </div>
</div>
{% endblock %}
